<!DOCTYPE html>
<html>
  <head>
   
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap" rel="stylesheet"> 
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!-- Navigation Bar -->
    
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">SIGNATURE</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'signup' %}">Signup</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li><a href="{% url 'index' %}">Home</a></li>
        </ul><ul id="nav-mobile" class="sidenav">
          <li><a href="{% url 'signup' %}">Signup</a></li>
        </ul><ul id="nav-mobile" class="sidenav">
          <li><a href="{% url 'login' %}">Login</a></li>
        </ul><ul id="nav-mobile" class="sidenav">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  
    <!-- Heading -->
    <div class="container">
      <h1 style="color: #ff5733; font-family: 'Montserrat';">Select Template</h1>
    </div>
    
    <div class="progress">
        <div class="determinate" style="width: 50%"></div>
    </div>
      
    <!-- End Heading -->
    <br>
    <!-- Form Starting -->
    <div class="container">
        <!-- <div class="row"> -->
        <!-- <div class="col s4 m4"><img src="https://source.unsplash.com/800x600/?beach" alt="" class="materialboxed responsive-img"></div>   -->
        <!-- <div class="col s4 m4"><img src="https://source.unsplash.com/800x600/?sand" alt="" class="materialboxed responsive-img"></div> -->
        <!-- <div class="col s4 m4"><img src="https://source.unsplash.com/800x600/?boat" alt="" class="materialboxed responsive-img"></div> -->
        <div class="row">
            <div class="col s4 m4"><a href="{% url 'user_data' %}"><img src="https://source.unsplash.com/800x600/?cruise" alt="" class="materialboxed responsive-img">
            </a>
            </div>
            
        </div>
        </div>
        </div>
        <!-- End Form Starting -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
       $(document).ready(function(){
            $('.materialboxed').materialbox();
        });
      $(document).ready(function(){
        $('.sidenav').sidenav();
        
        $('input#input_text, textarea').characterCounter();
        
      });
    </script>
    </body>
    </html>
        
    <!-- Form Ending -->

            <!-- <div class="row">
                <div class="input-field col s12">
                    <input name="Name" placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">Enter Name</label>
                  </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea name="ItselfIntro" id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea1">Give Information About Yourself</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea name="AdventureIntro" id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea2">How's Your Adventure Experience?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea name="SkillsIntro" id="textarea3" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea3">How You Grow Your Money Means SKILLS?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea name="JobIntro" id="textarea4" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea4">For Whom and Where You Use Skills Means JOB EXPERIENCE?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea name="SchollingIntro" id="textarea5" class="materialize-textarea" data-length="380"></textarea>
                    <label for="textarea5">From Which University/Collage/School this Talent Comes Means SCHOOLING?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea name="ContactIntro" id="textarea6" class="materialize-textarea" data-length="380"></textarea>
                    <label for="textarea6">How We Contact You Means Contact INFORMATION?</label>
                </div>
            </div> -->
             
       